.meals {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap
}

div.meal-item-header {
  padding: 5px;
  text-indent: 0;
  flex-wrap: wrap;
  display: flex;
  white-space: nowrap
}

div.meal-additives {
  font-size: 12px;
  margin-top: 10px;
}

div.meal-item-header .left {
  flex: 1;
}

.meal-price {
  border-bottom: 1px dotted black;
}

.meals .meal {
  margin-right: 0.33%;
  vertical-align: top;
  width: 33%;
}

@media only screen and (max-width: 1300px) {
  .meals .meal {
    width: 100%;
  }
}
